body {
    height: 650px;
    background: -webkit-linear-gradient(45deg, rgba(10,0,69,1) 0%, rgba(10,0,69,1) 6%, rgba(0,0,0,1) 9%, rgba(4,0,4,1) 10%, rgba(41,0,41,1) 19%, rgba(0,0,0,1) 21%, rgba(0,43,29,1) 30%, rgba(0,0,0,1) 37%, rgba(82,41,0,1) 44%, rgba(0,0,0,1) 49%, rgba(74,0,0,1) 55%, rgba(0,0,0,1) 64%, rgba(51,32,0,1) 70%, rgba(0,0,0,1) 72%, rgba(22,0,66,1) 79%, rgba(0,0,0,1) 84%, rgba(43,43,0,1) 89%, rgba(0,0,0,1) 94%, rgba(102,0,102,1) 98%, rgba(102,0,102,1) 100%);
}
.jumbotron {
    height: 190%;
    margin-left: 70px;
    margin-right: 70px;
    background: rgba(255, 255, 255, 0.699);
    border-top: 20px solid rgb(90, 85, 193); 
    border-bottom: 20px solid rgb(90, 85, 193);
    color: rgb(60, 60, 60);
    /* text-shadow: 4px 20px 8px rgba(0, 0, 0, 0.365); */
    /* opacity:1; */
}
.jumbotron h2{
    font: 400 30px/0.8 'Great Vibes', Helvetica, sans-serif;
    margin-bottom: 20px;
}
.jumbotron h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 20px;
}
.jumbotron h4{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.jumbotron h1 {
    text-shadow: 4px 20px 8px rgba(0, 0, 0, 0.365);
    font: 400 70px/0.8 'Great Vibes', Helvetica, sans-serif;
    color: rgb(60, 60, 60);

}
.jumbotron #buttom {
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 40px;
    background: rgb(90, 85, 193);
    border: 3px solid rgb(87, 87, 87);
    font-size: 30px;
    font-weight: bold;
    -webkit-transition:all .1s linear;
    -moz-transition:all .1s linear;
    -o-transition:all .1s linear;
    transition:all .1s linear;
    -moz-border-radius:10px 10px 10px 10px ;
    -webkit-border-radius:10px 10px 10px 10px ;
    border-radius:10px 10px 10px 10px ;
   
    animation: fadein 2s;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.jumbotron #buttom:hover {
    background: rgba(255, 255, 255, 0.351);
    color: rgb(0, 0, 211);
    border: 3px solid rgb(87, 87, 87);

    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.06);

    -webkit-transition:all .3s linear;
    -moz-transition:all .3s linear;
    -o-transition:all .3s linear;
    transition:all .3s linear;
    -moz-border-radius:2px 2px 2px 2px ;
    -webkit-border-radius:2px 2px 2px 2px ;
    border-radius: 9px;
}






#submit {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 40px;
    background: rgb(90, 85, 193);
    border: 3px solid rgb(87, 87, 87);
    font-size: 20px;
    font-weight: bold;
    -webkit-transition:all .2s linear;
    -moz-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear;
    -moz-border-radius:10px 10px 10px 10px ;
    -webkit-border-radius:10px 10px 10px 10px ;
    border-radius:10px 10px 10px 10px ;
    animation: fadein 2s;
}

#submit:hover {
    background: rgba(255, 255, 255, 0.351);
    color: rgb(0, 0, 211);
    border: 3px solid rgb(87, 87, 87);

    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.06);

    -webkit-transition:all .3s linear;
    -moz-transition:all .3s linear;
    -o-transition:all .3s linear;
    transition:all .3s linear;
    -moz-border-radius:2px 2px 2px 2px ;
    -webkit-border-radius:2px 2px 2px 2px ;
    border-radius: 6px;
}


.chosen-select {
    width: 50%;
}
footer{
    height: 40px;
}